---
import Layout from '../layouts/Layout.astro';
---

<Layout>
	<main class="animate-fadeIn flex justify-center mt-20 w-full p-2 items-center">
        <div class="w-full flex items-center justify-center p-6">
            <h1 class="flex px-10 text-6xl text-center font-semibold text-[#fff] max-md:text-4xl">
            Encuentra todo lo que nesesitas para el cuidado de tu casa al alcanze de un solo click!
            </h1>
        </div>
    </main>
<section class="w-full mt-10 max-h">
  <div class="grid grid-cols-1 md:grid-cols-2 mt-4 gap-4 px-10 min-xl:px-20 min-xl:mx-10 h-full items-center">
  <div class="animacion-izquierda flex flex-col items-center justify-center m-1 px-2 h-full bg-[#1817179a] border-2 border-amber-100 transform-3d transition duration-400 hover:scale-105">
    <p class="text-[1.1rem] font-bold text-center text-[#f3f3f3]">
      En nuestro servicio, encontraras las mejores marcas en herramientas, repuestos electricos y construccion
    </p>
    <div class="w-full flex justify-center items-center py-3">
      <a href="/productos" class="p-1.5 font-medium rounded-sm border-2 bg-[#080707d3] transition delay-150 duration-300 ease-in-out hover:-translate-y-1 hover:scale-110 hover:bg-[#202020] text-[#fff]">
        Ver nuestros Productos
      </a>
    </div>
  </div>
  <div class="animacion-derecha flex justify-center items-center h-full w-full">
    <img src="/ferreteria1.jpg" alt="ferreteria-1" class="w-full h-auto rounded-md">
  </div>
</div>
  <div class="grid grid-cols-1 grid- md:grid-cols-2 mt-6 gap-4 px-10 min-xl:px-20 min-xl:mx-10 h-full items-center">
  <div class="animacion-derecha flex justify-center items-center h-full">
    <img src="/ferreteria_tendero.jpeg" alt="ferreteria-1" class="w-full h-auto rounded-md">
  </div>
  <div class="animacion-izquierda flex flex-col items-center justify-center m-1 px-2 h-full bg-[#1817179a] border-2 border-amber-100 transform-3d transition duration-400 hover:scale-105">
    <p class="text-[1.1rem] font-bold text-center text-[#f3f3f3]">
      En nuestro servicio, encontraras las mejores marcas en herramientas, repuestos electricos y construccion. incluso con los mejores asaesores de venta para que tengas la mejor experiencia en tu compra
    </p>
    <div class="w-full flex justify-center items-center py-3">
      <a href="/contacto" class="p-1.5 font-medium rounded-sm border-2 bg-[#080707d3] transition delay-150 duration-300 ease-in-out hover:-translate-y-1 hover:scale-110 hover:bg-[#202020] text-[#fff]">
        Comunicate con nosotros!
      </a>
    </div>
  </div>
</div>
</section>
</Layout>
